.commentsWrapper {
  padding: 10px 0;
}

.mainWrapper {
  padding: 5px;
  margin-bottom: 15px;
  position: relative;
}

.commentContainer {
  display: flex;
}

.commentAvatarContainer {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.commentAvatarImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.boldFont {
  font-weight: bold;
}

.leftSpacingSmall {
  margin-left: 5px;
}

.rightSpacingMed {
  margin-right: 10px;
}

.infoWrapper {
  text-align: left;
  flex: 1;
}

.topSection {
  display: flex;
  align-items: center;
}

.midSection {
  font-size: 14px;
  word-break: break-word;
}

.bottomSection {
  font-size: 10px;
  color: grey;
  font-weight: 300;
  margin-bottom: 15px;
}

.pointerCursor {
  cursor: pointer;
}

.commentTime {
  color: grey;
  font-size: 12px;
}

.bottomSpacingSmall {
  margin-bottom: 5px;
}

.connectorWrapper {
  height: 100%;
  position: absolute;
  left: 5px;
  top: 20px;
  width: 40px;
  display: flex;
  justify-content: center;
  bottom: 0;
  z-index: -1;
}

.connectorLine {
  width: 1px;
  background-color: #d7d7d7;
}

.svgIcon {
  height: 20px;
  width: 20px;
  fill: white;
}
